
/*
---------- Hide for mobile hacks ------------------------------
*/

/*
Job advert - contents list
*/

.visually-hidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.mobile-hide { display: none; }
.mobile-show { display: none;}

@media (max-width: 40.0625em) {
    .mobile-show { display: block;}

}
@media (min-width: 40.0625em) {
    .mobile-hide { display: block; }
}

/* (max-width: 600px) = change when window is 600px wide or less (Mobile)
/* (min-width: 600px) = change when window is 600px wide or more (Desktop)

/*
---------- Service-start ------------------------------
*/

form.start-search {
    background-color: $govuk-link-colour;
    padding: 20px 20px 0px 20px;
    margin-bottom: 30px;

    h1 { color: #FFF; }
    .label-blue { color: #FFF; }
    div.start-show-more {margin-bottom: 20px;}
    a#toggle { color: #FFF; margin-bottom: 20px;}
    a#toggle:focus { color: #000; }
}

div#expand {
    display: none;
}

h2.quick-title { margin-bottom: 20px;}

ul.quick-search {
    padding-inline-start: 0;
    margin-block-start: 0;
    list-style-type: none;

    li {
        border: 1px #dee0e2 dashed;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: stretch; // makes span + a 100% height
        height: 100%;
        padding: 0;


        span {
            font-family: "nta", Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            font-weight: 700;
            padding: 15px;
            background-color: #dee0e2;
            text-align: center;
            width: 6%;
        }

        a {
            padding: 15px;
        }
    }
}

@media (max-width: 40.0625em) {

    ul.quick-search {

        li {
            margin-bottom: 15px;

            a {

            }
        }
    }

}

/*
---------- MISC ------------------------------
*/

.test-class {
    padding: 10px;
    background-color: $govuk-focus-colour;
    margin-bottom: 20px;

    a#toggle {
        margin-bottom: 10px;
        display: block;
    }
    p#expand {
        background-color: red;
        display: none;
    }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
