
{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="search-results-2.html">Back to results</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Teacher of Science
            <span class="govuk-caption-l">Featherstone High School, {{ data['location'] }}</span>
        </h1>
        <hr class="job-line">
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

        <div class="mobile-contents mobile-show">
            <h3 class="govuk-heading-s" id="contents">Contents</h3>
            <ol>
                <li><a href="#job-description">Job description</a></li>
                <li><a href="#about-school">About Featherstone High School</a></li>
                <li><a href="#share-job">Share job</a></li>
            </ol>
        </div>

        <aside class="vacancy--metadata">
            <div class="cta">
                <a target="_blank" class="govuk-button" href="https://www.featherstonehigh.ealing.sch.uk/">Find out how to apply</a>
            </div>

            <div class="timeline">
                <h4>12 days remaining to apply</h4>
                <ol class="hmcts-progress-bar__list">
                    <li class="hmcts-progress-bar__list-item">
                        <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
                        <span class="hmcts-progress-bar__label">Date posted<br>17 July 2019</span>
                    </li>
                    <li class="hmcts-progress-bar__list-item">
                        <span class="hmcts-progress-bar__icon"></span>
                        <span class="hmcts-progress-bar__label">Closing date<br>30 August 2019</span>
                    </li>
                    <li class="hmcts-progress-bar__list-item">
                        <span class="hmcts-progress-bar__icon"></span>
                        <span class="hmcts-progress-bar__label">Start date<br>1 January 2020</span>
                    </li>
                </ol>
            </div>

            <dl>
                <dt>Salary</dt>
                <dd>
                    £28,653 to £48,244 per year (full-time equivalent)
                </dd>
                <dt>Working pattern</dt>
                <dd>Full-time only</dd>
                <dt>Education phase</dt>
                <dd>Secondary</dd>
                <dt class="date-hide-mobile">Date posted</dt>
                <dd class="date-hide-mobile">17 July 2019</dd>
                <dt class="date-hide-mobile">Closing date</dt>
                <dd class="date-hide-mobile">30 August 2019</dd>
                <dt class="date-hide-mobile">Expected start date</dt>
                <dd class="date-hide-mobile">1 January 2020</dd>
                <dt>Job contact email</dt>
                <dd class="wordwrap"><a class="govuk-link" href="#">careers@avanti.org.uk</a></dd>
            </dl>
        </aside>

    </div>

    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m" id="job-description">Job description</h2>
        <p>We wish to appoint from September 2019 to this 11-19 multi-cultural school specialising in the Sciences and Sport, a highly motivated, ambitious and dynamic teacher to teach Science up to KS4. The candidate applying for the post should be a hardworking professional, committed to thorough lesson planning, enthusiastic delivery and careful assessment.</p>
        <p>Featherstone High is a friendly school that thrives on teamwork and high achievement in all areas of our work with young people. We value our teachers and actively support their professional development through high quality on-going professional development.</p>
        <p>Join us and you can expect an exceptional programme of professional studies during your first year as an NQT with the support of a dedicated mentor and an experienced Professional Tutor. We are one of very few schools to achieve the Platinum Award for CPD – a reflection of the importance we attach to supporting the professional development of colleagues.</p>
        <p>We can also offer you, competitive pay and an excellent pension scheme, family friendly working and a collaborative culture where ideas take flight together. We offer Cycle to Work scheme, free counselling and occupational health service, discounted gym membership and contribution towards eye tests and VDU glasses. If you are looking to extend your experience and would be interested in joining our team, we would be delighted to hear from you.</p>
        <p>All applicants are welcome to visit the school, application forms and further details are available from the School’s website https://featherstonehigh.careers.eteach.com/#/ . </p>
        <p>CVs are accepted and approved applicants will be required to fill out an application form on appointment. Please email your completed form or CV to info@featherstonehigh.ealing.sch.uk.</p>
        <p>Featherstone High School is committed to safeguarding and promoting the welfare of Children and Young People and expects all staff and volunteers to share this commitment. The successful applicants will be required to apply for an Enhanced Disclosure from the Disclosure and Barring Service (DBS) References will need to be seen before any offer of employment is made.</p>
        <p>The closing date is Friday 30th August 2019, 4pm, however we reserve the right to close the advert early if we appoint sooner.</p>

        <h2 class="govuk-heading-m">Essential educational requirements</h2>
        <p>Graduate qualification in Science or equivalent</p>
        <h2 class="govuk-heading-m">Essential qualification</h2>
        <p>Qualified Teacher Status</p>
        <h2 class="govuk-heading-m">Essential skills and experience</h2>
        <p class="job-linez">Have a practical understanding of National Curriculum requirements in terms of content, classroom practice, differentiation, summative and formative assessment and reporting to parents  Experience of teaching Science to G.C.S.E level  Demonstrable experience of improving successful student outcomes in the last three years.</p>
        <h2 class="govuk-heading-m" id="about-school">About Featherstone High School</h2>

        <dl class="school--details ">
            <dt>Address</dt>
            <dd>Carlton Drive, {{ data['location'] }}, IG6 1LZ</dd>
            <dt>Phase</dt>
            <dd>Secondary</dd>
            <dt>Type</dt>
            <dd>Academy</dd>
        </dl>
        <div class="job-linez">
            <img src="/public/images/map.png" alt="">
        </div>

        <!-- SOCIAL start -->
        <h2 class="govuk-heading-m" id="share-job">Share this job</h2>
        <ul class="petition-share govuk-!-margin-bottom-9">
            <li>
                <a href="#">Facebook</a>
            </li>
            <li>
                <a href="">Email</a>
            </li>
            <li>
                <a href="">Twitter</a>
            </li>
            <li class="petition-share-whatsapp">
                <a href="">Whatsapp</a>
            </li>
        </ul>
        <!-- SOCIAL end -->

        <div class="mobile-show">
            <a class="back-to-top" href="#contents">
                <svg class="" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                </svg>Back to top
            </a>
        </div>

    </div>



</div>

{% endblock %}
