
{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form class="start-search">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">Search teaching vacancies</h1>
                </legend>

                <div class="govuk-form-group">
                    <label class="govuk-label label-blue" for="keyword">Keyword</label>
                    <input class="govuk-input" id="keyword" name="keyword" type="text" placeholder="Job title or any other keyword">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label label-blue" for="location">Location</label>
                    <input class="govuk-input" id="location" name="location" type="text" placeholder="e.g. City, town or postcode">
                </div>

                <!-- START More filters-->
                <div class="start-show-more">

                    <a href="javascript:void(0);" id="toggle">+ Show more search options</a>
                </div>

                <div class="" id="expand">

                    <!-- START Working pattern -->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="filter-pattern app-c-option-select js-closed">
                                <button class="filter-pattern-button app-c-option-select__title app-c-option-select__button" type="button" id="option-select-title-jobtitle" >
                                    Working pattern
                                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up">
                                        <path
                                            d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                                        </path>
                                    </svg>
                                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down">
                                        <path
                                            d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                                        </path>
                                    </svg>
                                </button>
                                <!-- <div class="govuk-!-font-size-14 app-c-option-select__selected-counter">1 selected</div>-->
                                <div role="group" class="filter-pattern-container app-c-option-select__container js-closed" id="jobtitle" tabindex="-1" style="height: 200px;">
                                    <div class="app-c-option-select__container-inner js-auto-height-inner">
                                        <div id="checkboxes-38cfacc6" class="gem-c-checkboxes govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Working pattern</legend>
                                                <ul class="govuk-checkboxes gem-c-checkboxes__list govuk-checkboxes--small">
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="workpattern" id="pattern-1" value="pattern-1" class="govuk-checkboxes__input">
                                                        <label for="pattern-1" class="govuk-label govuk-checkboxes__label">Full-time</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="workpattern" id="pattern-2" value="pattern-2" class="govuk-checkboxes__input">
                                                        <label for="pattern-2" class="govuk-label govuk-checkboxes__label">Part-time</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="workpattern" id="pattern-3" value="pattern-3" class="govuk-checkboxes__input">
                                                        <label for="pattern-3" class="govuk-label govuk-checkboxes__label">Job share</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="workpattern" id="pattern-4" value="pattern-4" class="govuk-checkboxes__input">
                                                        <label for="pattern-4" class="govuk-label govuk-checkboxes__label">Compressed hours</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="workpattern" id="pattern-5" value="pattern-5" class="govuk-checkboxes__input">
                                                        <label for="pattern-5" class="govuk-label govuk-checkboxes__label">Staggered hours</label>
                                                    </li>
                                                </ul>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- END Working pattern -->

                    <!-- START Education phase -->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="filter-phase app-c-option-select js-closed">
                                <button class="filter-phase-button app-c-option-select__title app-c-option-select__button" type="button" id="option-select-title-jobtitle" >
                                    Education phase
                                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up">
                                        <path
                                            d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
                                        </path>
                                    </svg>
                                    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down">
                                        <path
                                            d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                                        </path>
                                    </svg>
                                </button>
                                <!-- <div class="govuk-!-font-size-14 app-c-option-select__selected-counter">1 selected</div>-->
                                <div role="group" class="filter-phase-container app-c-option-select__container js-closed" id="jobtitle" tabindex="-1" style="height: 200px;">
                                    <div class="app-c-option-select__container-inner js-auto-height-inner">
                                        <div id="checkboxes-38cfacc6" class="gem-c-checkboxes govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Working pattern</legend>
                                                <ul class="govuk-checkboxes gem-c-checkboxes__list govuk-checkboxes--small">
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="phase" id="phase-1" value="phase-1" class="govuk-checkboxes__input">
                                                        <label for="phase-1" class="govuk-label govuk-checkboxes__label">Not applicable</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="phase" id="phase-2" value="phase-2" class="govuk-checkboxes__input">
                                                        <label for="phase-2" class="govuk-label govuk-checkboxes__label">Nursery</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="phase" id="phase-3" value="phase-3" class="govuk-checkboxes__input">
                                                        <label for="phase-3" class="govuk-label govuk-checkboxes__label">Primary</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="phase" id="phase-4" value="phase-4" class="govuk-checkboxes__input">
                                                        <label for="phase-4" class="govuk-label govuk-checkboxes__label">Middle deemed primary</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="phase" id="phase-5" value="phase-5" class="govuk-checkboxes__input">
                                                        <label for="phase-5" class="govuk-label govuk-checkboxes__label">Secondary</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="phase" id="phase-6" value="phase-6" class="govuk-checkboxes__input">
                                                        <label for="phase-6" class="govuk-label govuk-checkboxes__label">Middle deemed secondary</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="phase" id="phase-7" value="phase-7" class="govuk-checkboxes__input">
                                                        <label for="phase-7" class="govuk-label govuk-checkboxes__label">Sixteen plus</label>
                                                    </li>
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="phase" id="phase-8" value="phase-8" class="govuk-checkboxes__input">
                                                        <label for="phase-8" class="govuk-label govuk-checkboxes__label">All through</label>
                                                    </li>
                                                </ul>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- END Education phase -->

                </div>
                <!-- END More filters-->

                <button type="submit" class="govuk-button" formaction="search-results-1.html">Search</button>

            </fieldset>
        </form>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-l quick-title">Quick search by education phase</h3>
            </div>
            <div class="govuk-grid-column-one-half">
                <ul class="quick-search">
                    <li><span>0</span><a href="search-results.html">jobs in Nursery schools</a></li>
                    <li><span>46</span><a href="javascript:void(0);">jobs in Primary schools</a></li>
                    <li><span>0</span><a href="javascript:void(0);">jobs in Middle deemed primary schools</a></li>
                    <li><span>66</span><a href="javascript:void(0);">jobs in Secondary schools</a></li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-half">
                <ul class="quick-search">
                    <li><span>0</span><a href="javascript:void(0);">jobs in Middle deemed secondary schools</a></li>
                    <li><span>4</span><a href="javascript:void(0);">jobs in Sixteen plus schools</a></li>
                    <li><span>0</span><a href="javascript:void(0);">jobs in All through</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">List a teaching job</h2>
            <p>To list a job for your school, you must have an account to sign into this service.</p>
            <p>You can get one if you work at a publicly funded school or trust providing primary or secondary education in England and have been authorised by your headteacher or CEO. Just ask them to send your full name and email address to <a href="#">teaching.vacancies@education.gov.uk</a>. Or email us your details directly, copying in your headteacher or CEO.</p>
            <button type="submit" class="govuk-button">Sign in</button>
        </aside>

    </div>

</div>

{% endblock %}
